/* * {
  border: 1px solid;
} */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#url-builder {
  width: 500px;
  /* height: 500px; */
  margin: 2rem auto auto auto;
}

#input-field-container {
  padding: 1rem;
  border-radius: 10px;
  border: solid 2px gainsboro;
  font-size: 1.5rem;
  position: relative;
  width: 300px;
  margin: auto;
}

#input-field-container label {
  color: rgb(133, 133, 133);
  font-size: 0.8rem;
  position: absolute;
  top: -0.6rem;
  left: 0.6rem;
  background-color: white;
  padding: 0 0.41rem;
}

#input-field-container input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

#url-builder input {
  /* padding: 1rem; */
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}

.radiobuttonarea {
  margin-top: 1rem;
}

#message-area {
  height: 1rem;
  width: 320px;
  font-size: 0.7rem;
  position: relative;
  top: -0.65rem;
  margin: auto;
}

#in-range-message,
#error-message {
  background-color: white;
  padding: 0 0.5rem;
  display: inline-block;
  /* margin: 0 0.5rem; */
}

#in-range-message {
  color: green;
  /* padding: 0 0.5rem; */
}
#error-message {
  color: red;
  /* padding: 0 0.5rem; */
}

div.url-button-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  width: 500px;
  margin: auto auto 10px auto;
}

#url-button {
  justify-content: center;
  background: #b30309;
}

.logoImage {
  margin-right: 0.5rem;
}

.disabled {
  color: gainsboro;
}

div.SF {
  background: #b45250;
}
div.DT {
  background: #b87049;
}
div.ABT {
  background: #7f9861;
}

#url-button.nolink {
  background: gray;
}

#url-button:hover {
  background: black;
}
div.url-button-class a,
#url-button a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 975px) {
  #url-builder {
    width: 250px;
  }
  #input-field-container {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 250px;
  }

  div.url-button-class {
    padding: 0.5rem;
    border-radius: 2rem;
    width: 260px;
    margin: auto;
    font-size: 0.7rem;
    margin: auto auto 10px auto;
  }
  .radiobuttonarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 3rem;
  }
}

#links-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  margin: 3rem;
}
.book-link-area {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
